/* Add Form Styles */
.add-form {
    margin-bottom: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .add-form label {
    flex: 1 1 calc(50% - 20px); /* Two columns with space between */
    font-weight: bold;
    color: #555;
  }
  
  .add-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .add-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondaryColor);
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
    flex: 1 1 100%;
  }
  
  .add-form button:hover {
    background-color: var(--mainColorLight);
  }
  
.edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
form{
    margin-left: -7px;
}
.edit-form h2 {
    margin-top: 0;
  }
  
.edit-form label {
    display: block;
    margin-bottom: 10px;
  }
  
.edit-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .botna{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
.edit-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px;
    width: 100%;
  }
  
.edit-form button[type="button"] {
    background-color: #6c757d;
  }

  .course-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .course-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .course-list {
    list-style: none;
    padding: 0;
  }


.course-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .course-image-container {
    margin-right: 20px;
  }
  
  .course-image {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .course-info {
    flex: 1;
  }
  
  .course-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .edit-button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  